<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>cizion_reply</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <h1><%= post.title %></h1>
    <h3>작성자 : <%= post.userEmail %></h3>
    <h3>작성일 : <%= post.createdAt %></h3>
    <button><a href="/posts" role="button">글 목록으로</a></button>

    <br>
    
    <h2>댓글</h2>
    <hr>

    <table>
        <tr>
            <td>내용</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <% for(let reply of replies) { %>
            <tr>
                <td><%= reply.content %></td>
                <td><%= reply.userEmail %></td>
                <td><%= reply.createdAt %></td>
                
                <form action="/detail/like/<%=reply.id%>" method="post">
                    <td>
                        <input type="hidden" name="replyWriterId" value=<%= reply.userEmail %>>
                        <input type="hidden" name="postID" value=<%= post.id %>>
                        <input type="hidden" name="likeCnt" value=<%= reply.likeCount %>>
                        <input type="hidden" name="unlikeCnt" value=<%= reply.unlikeCount %>>
                        <input type="submit" value="<%= reply.likeCount %> 좋아요"></input>
                    </td>
                </form>
                <form action="/detail/unlike/<%=reply.id%>" method="post">
                    <td>
                        <input type="hidden" name="replyWriterId" value=<%= reply.userEmail %>>
                        <input type="hidden" name="postID" value=<%= post.id %>>
                        <input type="hidden" name="likeCnt" value=<%= reply.likeCount %>>
                        <input type="hidden" name="unlikeCnt" value=<%= reply.unlikeCount %>>
                        <input type="submit" value="<%= reply.unlikeCount %> 싫어요"></input>
                    </td>
                </form>

                <td><button><a href="/detail/edit/<%= post.id %>/<%=reply.id%>">수정하기</a></button></td>
            
                <form action="/detail/reply/<%=reply.id%>?_method=DELETE" method="post">
                    <td>
                        <input type="hidden" name="replyWriterId" value=<%= reply.userEmail %>>
                        <input type="hidden" name="postID" value=<%= post.id %>>
                        <input type="submit" value="삭제하기"></input>
                    </td>
                </form>
            </tr>
        <% } %>

        <form action="/detail/reply" method="post">
            <tr>
                <td>
                    <input type="text" name="replyContent" placeholder="내용을 입력해주세요">
                    <input type="hidden" name="postID" value=<%= post.id %>>
                    <input type="submit" value="댓글 등록">
                </td>
            </tr>
        </form>
    </table>

    </body>
</html>